* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* set the font to Untitled Sans */
  font-family: "Untitled Sans", sans-serif;
}

body {
  /* border: 1px solid green; */
  max-height: 100vh;
  background-color: aliceblue;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-div {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-holder {
  width: 500px;
  /* border: 1px solid purple; */

  /* padding: 20px; */
  margin-top: 20px;
}

.game-div {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%; /* Set the minimum height of the second div to the viewport height */
  /* border: 1px solid blue; */
}

.doors-holder {
  /* border: 1px solid orange; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  height: 300px;
}

.single-door {
  border: 2px solid black;

  overflow: hidden;

  border-radius: 18px;

  /* add a shadow to the door */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  background-color: white;

  height: 80%;
  width: 100%;
}

button {
  border: 1px solid black;
  background-color: white;

  /* padding-left: 60px; */
  /* padding-right: 60px; */

  /* padding-top: 15px; */
  /* padding-bottom: 15px; */

  height: 50px;
  width: 150px;

  margin: 10px;

  font-size: 1.2rem;
  font-weight: bold;
}

button:hover {
  background-color: black;
  color: white;
}

.buttons-holder {
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.slot-boxes {
  transition: transform 1s ease-in-out;
}

.single-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.box-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */

  /* change opacity of the background image */
  /* opacity: 0.5; */

  filter: blur(3px) brightness(40%);

  /* lower the opacity of the background image */
  /* opacity: 0.5; */

  background-size: cover;
  background-position: center;

  /* border: 1px solid purple; */

  width: 110%;
  height: 100%;

  transform: scale(1.1);
}

.slot-image {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}

.instructions-holder {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.infront-of-image {
  position: absolute;
  color: white;
  font-weight: bold;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

  font-size: 2rem;

  padding: 10px;

  text-align: center;

  /* add black outline to the text */
  /* text-shadow: 0 0 10px black; */
}

.no-blur {
  filter: none;
}

.header-and-door-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  width: 180px;
  /* height: 80%; */

  font-size: 1rem;

  /* border: 1px solid red; */

  margin: 10px;
}

/* if mobile device */
@media only screen and (max-width: 600px) {
  .doors-holder {
    width: 100%;
    height: 120px;
  }

  .logo-holder {
    width: 70%;
  }

  .infront-of-image {
    font-size: 1rem;
  }

  .header-and-door-holder {
    font-size: 0.5rem;
    width: 50%;
  }
}
